[Unit]
Description=PiHole Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop systemd-pihole
ExecStartPre=-/usr/bin/docker rm systemd-pihole
ExecStart=/usr/bin/docker run --restart=unless-stopped --name systemd-pihole --user {{pihole_user_id}}:{{pihole_group_id}} -p 53:53/tcp -p 53:53/udp -p 80:80 -e TZ="Australia/Sydney" --dns=127.0.0.1 --dns=1.1.1.1 --hostname pihole -e VIRTUAL_HOST="pihole"  -e PROXY_LOCATION="pihole" -e FTLCONF_LOCAL_IPV4="127.0.0.1" -v /opt/pihole/etc-pihole:/etc/pihole -v /opt/pihole/etc-dnsmasq_d:/etc/dnsmasq.d localhost:5000/panamax-pihole

[Install]
WantedBy=multi-user.target
